# uDOS Git Submodules Configuration
#
# STRUCTURE:
#   PUBLIC (this repo):  Core, Wizard, Extensions, Docs, Knowledge, Library
#   PRIVATE (/dev):      Goblin, Empire, App, Groovebox - proprietary code
#
# SETUP:
#   git submodule add git@github.com:fredporter/uDOS-dev.git dev
#   git submodule update --init --recursive
#
# UPDATE:
#   cd dev && git pull origin main && cd .. && git add dev && git commit -m "Update dev submodule"
#
# CLONE WITH SUBMODULES:
#   git clone --recurse-submodules git@github.com:fredporter/uDOS.git
#

[submodule "dev"]
	path = dev
	url = https://github.com/fredporter/uDOS-dev.git
	branch = main

[submodule "app"]
	path = app
	url = git@github.com:fredporter/uMarkdown-app.git
	branch = main
[submodule "sonic"]
	path = sonic
	url = git@github.com:fredporter/uDOS-sonic.git
	branch = main

# PRIVATE SUBSYSTEMS (Moved from /dev to root for hardening)
[submodule "empire"]
	path = empire
	url = git@github.com:fredporter/uDOS-empire.git
	branch = main

[submodule "groovebox"]
	path = groovebox
	url = git@github.com:fredporter/uDOS-groovebox.git
	branch = main
